

/* Form styles */
.form {
  overflow-x: hidden;
  margin: auto;
  padding: auto;
  background: blue;
}

.signup-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ece4e4;
}

.signup-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.signup-form label {
  display: block;
  margin-bottom: 10px;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}

.signup-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #0056b3;
}

.login-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.login-link a {
  color: #007BFF;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
